<% provide(:title, "Privacy") %>
<h1>Privacy policy</h1>
<p>This sample application is built for educational purposes using the Ruby on Rails Tutorial.</p>
<p>This site only collects email addresses as part of the sign-up and login process during testing. No data is stored or shared outside of the development environment.</p>
<p>If you have any concerns, please contact: joeokinaga0921@gmail.com</p>
